<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>TwenGo</title>

    <link rel="icon" href="~/images/favicon-16x16.png" type="image/x-icon" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/ionicons.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/owl.theme.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/custom.css" type="text/css" media="all">
    <link rel='stylesheet' href='~/css/prettyPhoto.css' type='text/css' media='all'>
</head>
<body>
    <div class="noo-spinner">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div id="menu-slideout" class="slideout-menu hidden-md-up">
        <div class="mobile-menu">
            <ul id="mobile-menu" class="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="index">首頁</a></li>
                <li><a asp-area="" asp-controller="AboutUs" asp-action="index">關於我們</a></li>
                <li><a asp-area="" asp-controller="Shop" asp-action="index">購物</a></li>
                <li><a asp-area="" asp-controller="Cart" asp-action="index">購物車</a></li>
                <li><a asp-area="" asp-controller="Contact" asp-action="index">聯絡我們</a></li>
            </ul>
        </div>
    </div>
    <div class="site">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="topbar-text">
                            <span>客服時間: 週一 - 週五: 08AM-06PM</span>
                            <span>週六 - 週日: 10AM-06PM</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="topbar-menu">
                            <ul class="topbar-menu">
                                <li><a href="#">登入</a></li>
                                <li><a href="#">註冊</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="header" class="header header-desktop header-2">
            <div class="top-search">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <form asp-controller="Shop" asp-action="Index">
                                <input type="text" class="top-search-input" name="SearchString" />
                                <button class="btn btn-warning" type="submit">搜尋</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" id="logo">
                            <img class="logo-image" src="~/images/logo.png" alt="Organik Logo" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <div class="header-right">
                            <nav class="menu">
                                <ul class="main-menu">
                                    <li><a asp-area="" asp-controller="Home" asp-action="index">首頁</a></li>
                                    <li><a asp-area="" asp-controller="AboutUs" asp-action="index">關於我們</a></li>
                                    <li><a asp-area="" asp-controller="Shop" asp-action="index">購物</a></li>
                                    <li><a asp-area="" asp-controller="Cart" asp-action="index">購物車</a></li>
                                    <li><a asp-area="" asp-controller="Contact" asp-action="index">聯絡我們</a></li>
                                </ul>
                            </nav>
                            <div class="btn-wrap">
                                <div class="mini-cart-wrap">
                                    <div class="mini-cart">
                                        <div class="mini-cart-icon" data-count="2">
                                            <i class="ion-bag"></i>
                                        </div>
                                    </div>
                                    <div class="widget-shopping-cart-content">
                                        <ul class="cart-list">
                                            <li>
                                                <a href="#" class="remove">×</a>
                                                <a asp-area="" asp-controller="ShopDetail" asp-action="index">
                                                    <img src="~/images/shop/thumb/shop_1.jpg" alt="" />
                                                    Orange Juice&nbsp;
                                                </a>
                                                <span class="quantity">1 × $12.00</span>
                                            </li>
                                            <li>
                                                <a href="#" class="remove">×</a>
                                                <a asp-area="" asp-controller="ShopDetail" asp-action="index">
                                                    <img src="~/images/shop/thumb/shop_2.jpg" alt="" />
                                                    Aurore Grape&nbsp;
                                                </a>
                                                <span class="quantity">1 × $9.00</span>
                                            </li>
                                        </ul>
                                        <p class="total">
                                            <strong>小計:</strong>
                                            <span class="amount">$21.00</span>
                                        </p>
                                        <p class="buttons">
                                            <a asp-area="" asp-controller="Cart" asp-action="index" class="view-cart">檢視購物車</a>
                                            <a asp-area="" asp-controller="Cart" asp-action="OrderDetail" class="checkout">立即購買</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="top-search-btn-wrap">
                                    <div class="top-search-btn">
                                        <a href="javascript:void(0);">
                                            <i class="ion-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="header header-mobile">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="header-left">
                            <div id="open-left"><i class="ion-navicon"></i></div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="header-center">
                            <a href="#" id="logo-2">
                                <img class="logo-image" src="~/images/logo.png" alt="Organik Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="header-right">
                            <div class="mini-cart-wrap">
                                <a asp-area="" asp-controller="Cart" asp-action="index">
                                    <div class="mini-cart">
                                        <div class="mini-cart-icon" data-count="2">
                                            <i class="ion-bag"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <img src="~/images/footer_logo.png" class="footer-logo" alt="" />
                        <p>
                            Welcome to Organik. Our products are freshly harvested, washed ready for box and finally delivered from our family farm right to your doorstep.
                        </p>
                        <div class="footer-social">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Infomation</h3>
                            <ul>
                                <li><a href="#">New Products</a></li>
                                <li><a href="#">Top Sellers</a></li>
                                <li><a href="#">Our Blog</a></li>
                                <li><a href="#">About Our Shop</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget-title">Useful Link</h3>
                            <ul>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Our Blog</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Secure Shopping</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Subscribe</h3>
                            <p>
                                Enter your email address for our mailing list to keep yourself updated.
                            </p>
                            <form class="newsletter">
                                <input type="email" name="EMAIL" placeholder="Your email address" required="" />
                                <button><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        Copyright &copy; 2020.Company name All rights reserved.
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/footer_payment.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="backtotop" id="backtotop"></div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/modernizr-2.7.1.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.isotope.init.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type='text/javascript' src='~/js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='~/js/jquery.prettyPhoto.init.min.js'></script>


    <script type="text/javascript" src="~/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/js/extensions/revolution.extension.parallax.min.js"></script>
    <style>
        .copyrights {
            text-indent: -9999px;
            height: 0;
            line-height: 0;
            font-size: 0;
            overflow: hidden;
        }
    </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
