@using Microsoft.AspNetCore.Identity
@using TwenGo.Models.Repository.Entity;
@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
@{
    //String roleName = Context.Session.GetString("role");
    var identity = this.User.Identity;
    var principal = new ClaimsPrincipal(identity);
}

<div class="dropdown">
    <div class="topbar-menu">
        @if (User.IsInRole("Customer"))
        {
                                <ul>
                                    <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Home/Index" title="Manage">Hello @User.Identity.Name!</a></li>
                                    <li><a asp-controller="UserCenter" asp-action="">會員中心</a></li>
                                    <li><a asp-controller="OrderManagement" asp-action="index">訂單管理</a></li>
                                    <li>
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
                                        </form>
                                    </li>
                                </ul>
              
        }
        else if (User.IsInRole("Administrator"))
        {
                            <ul>
                                <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Home/Index" title="Manage">Hello @User.Identity.Name!</a></li>
                                <li><a asp-controller="Management" asp-action="Index">訂單管理</a></li>
                                <li><a asp-controller="Product" asp-action="Launch">商品上架</a></li>
                                <li><a asp-controller="Product" asp-action="ProductView">商品管理</a></li>
                                <li><a asp-controller="UserManagement" asp-action="Index">會員管理</a></li>
                                <li>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
                                    </form>
                                </li>
                            </ul>
        }
        else
        {
            <ul>
                <li><a asp-area="" asp-controller="Login" asp-action="Index">登入</a></li>
                <li><a asp-area="" asp-controller="Member" asp-action="CustomerRegister">註冊</a></li>
            </ul>
        }
    </div>
</div>





