<body>
    <div class="site">
        <div id="main">
            <div class="section section-bg-10 pt-11 pb-17">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="page-title text-center">購物車</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section border-bottom pt-2 pb-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="breadcrumbs">
                                <li><a a asp-controller="Home" asp-action="index">首頁</a></li>
                                <li><a asp-controller="ShopDetail" asp-action="index">商品詳情</a></li>
                                <li>購物車</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section pt-7 pb-7">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table shop-cart">
                                <tbody id="cartPage">
                                    <tr class="cart_item">
                                        @*<td class="product-remove">
                                                    <a href="#" class="remove">×</a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a asp-area="" asp-controller="ShopDetail" asp-action="index">
                                                        <img src="images/shop/thumb/shop_1.jpg" alt="">
                                                    </a>
                                                </td>
                                                <td class="product-info">
                                                    <a asp-area="" asp-controller="ShopDetail" asp-action="index">Black Hoodie</a>
                                                    <span class="sub-title">Faucibus Tincidunt</span>
                                                    <span class="amount">$2.00</span>
                                                </td>
                                                <td class="product-quantity">
                                                    <div class="quantity">
                                                        <input id="qty-1" type="number" min="0" name="number" value="1" class="input-text qty text" size="4">
                                                    </div>
                                                </td>
                                                <td class="product-subtotal">
                                                    <span class="amount">$2.00</span>
                                                </td>
                                            </tr>*@
                                    <tr class="cart_item" v-for="item in product">
                                        <td class="product-remove">
                                            <a href="#" class="remove" v-on:click="CleanCart(item.id)">×</a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a asp-area="" asp-controller="ShopDetail" asp-action="index">
                                                <img :src=item.image alt="" />
                                            </a>
                                        </td>
                                        <td class="product-info">
                                            <a asp-area="" asp-controller="ShopDetail" asp-action="index">{{item.name}}</a>
                                            <span class="sub-title">{{item.description}}</span>
                                            <span class="amount">${{item.price}}</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input id="qty-2" type="number" min="0" name="number" :value="item.amount" class="input-text qty text" size="4">
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">{{item.price}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="actions">
                                            <a class="continue-shopping" asp-controller="Shop" asp-action="index"> 繼續購物</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="cart-totals">
                                <table>
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>小計</th>
                                            <td>$116.00</td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>物流</th>
                                            <td>免運費</td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>總計</th>
                                            <td><strong>$116.00</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="proceed-to-checkout">
                                    <a asp-controller="Cart" asp-action="OrderDetail">填寫訂單資料</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var vcart2 = new Vue({
            el: '#cartPage',
            data: {
                product: []
            },
            mounted: function () {
                this.GetCartProduct();
            },
            methods: {
                GetCartProduct: function () {
                    let self = this;
                    fetch("/Cart/GetCart")
                        .then(function (res) { return res.json() })
                        .then(function (d) { self.product = d })
                },
                CleanCart: function (id) {
                    console.log(id);
                    let data = new FormData();
                    data.append("id", id);
                    fetch("/Cart/CleanCart", {
                        body: data, // must match 'Content-Type' header
                        method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    }).then(response => response.text())
                        .then(function (d) {
                            vcart.GetCartProduct();
                            alert(d);

                        })
                }

            },

        });


    </script>
</body>


