<div class="site">
    <div id="main">
        <div class="section section-bg-10 pt-11 pb-17">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-title text-center">訂單資料填寫</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="section border-bottom pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="breadcrumbs">
                            <li><a asp-controller="Home" asp-action="index">首頁</a></li>
                            <li><a asp-controller="Cart" asp-action="index">購物車</a></li>
                            <li>訂單資料填寫</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-checkout pt-7 pb-7">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>資料填寫</h3>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>名稱 <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-firstname" value="" size="40" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>姓氏 <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-lastname" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>連絡電話</label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-phone" value="" size="40" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="email" name="your-email" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>城市 <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <select name="country" id="country2">
                                            <option value="">台北</option>
                                            <option value="">新北</option>
                                            <option value="">桃園</option>
                                            <option value="">台中</option>
                                            <option value="">台南</option>
                                            <option value="">高雄</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>詳細地址 <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-address" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>郵遞區號</label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-postal" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>城市 <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-postal" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>訂單描述</label>
                                    <div class="form-wrap">
                                        <textarea name="order_comments" class="input-text " id="order_comments" placeholder="訂單描述(選填)" rows="2" cols="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mt-3">訂單詳情</h3>
                        <div class="order-review">
                            <table class="checkout-review-order-table">
                                <thead>
                                    <tr>
                                        <th class="product-name">商品項目</th>
                                        <th class="product-total">商品單價</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-name">
                                            Orange Juice&nbsp;<strong class="product-quantity">× 1</strong>
                                        </td>
                                        <td class="product-total">
                                            $12.00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-name">
                                            Aurore Grape&nbsp;<strong class="product-quantity">× 1</strong>
                                        </td>
                                        <td class="product-total">
                                            $9.00
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>小計</th>
                                        <td>$21.00</td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>總計</th>
                                        <td><strong>$21.00</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="checkout-payment">
                            <div class="text-center text-center-sm">
                                <a class="organik-btn mt-6" href="#"> 送出訂單 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>