<div class="site">
    <div id="main">
        <div class="section section-bg-10 pt-11 pb-17">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-title text-center">Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="section border-bottom pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-checkout pt-7 pb-7">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Billing details</h3>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First name <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-firstname" value="" size="40" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Last name <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-lastname" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Company name</label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-company-name" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Country <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <select name="country" id="country">
                                            <option value="">Australia</option>
                                            <option value="">Brazil</option>
                                            <option value="">England</option>
                                            <option value="">France</option>
                                            <option value="">United State</option>
                                            <option value="">Vietnam</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Address <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-address" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Postcode / ZIP</label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-postal" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Town/City <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-postal" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-phone" value="" size="40" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="email" name="your-email" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-wrap">
                                        <input name="createaccount" type="checkbox" id="createaccount" value="1" />
                                        <span>Create an account?</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h3>Shipping details</h3>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First name <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-firstname" value="" size="40" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Last name <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-lastname" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Company name</label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-company-name" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Country <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <select name="country" id="country2">
                                            <option value="">Australia</option>
                                            <option value="">Brazil</option>
                                            <option value="">England</option>
                                            <option value="">France</option>
                                            <option value="">United State</option>
                                            <option value="">Vietnam</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Address <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-address" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Postcode / ZIP</label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-postal" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Town/City <span class="required">*</span></label>
                                    <div class="form-wrap">
                                        <input type="text" name="your-postal" value="" size="40" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Order notes</label>
                                    <div class="form-wrap">
                                        <textarea name="order_comments" class="input-text " id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." rows="2" cols="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mt-3">Your order</h3>
                        <div class="order-review">
                            <table class="checkout-review-order-table">
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-name">
                                            Orange Juice&nbsp;<strong class="product-quantity">× 1</strong>
                                        </td>
                                        <td class="product-total">
                                            $12.00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-name">
                                            Aurore Grape&nbsp;<strong class="product-quantity">× 1</strong>
                                        </td>
                                        <td class="product-total">
                                            $9.00
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>$21.00</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td>
                                            <ul id="shipping_method">
                                                <li>
                                                    <input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_free_shipping1" value="free_shipping:1" class="shipping_method" checked="checked">
                                                    <span>Free shipping</span>
                                                </li>
                                                <li>
                                                    <input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_local_pickup2" value="local_pickup:2" class="shipping_method">
                                                    <span>Local pickup</span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tax</th>
                                        <td>$2.10</td>
                                    </tr>
                                    <tr>
                                        <th>Service</th>
                                        <td>$1.16</td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><strong>$24.26</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="checkout-payment">
                            <ul class="payment-method">
                                <li>
                                    <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" checked="checked" data-order_button_text="">
                                    <span>Cash on delivery</span>
                                    <div class="payment-box">
                                        <p>Pay with cash upon delivery.</p>
                                    </div>
                                </li>
                                <li>
                                    <input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method" value="paypal" data-order_button_text="Proceed to PayPal">
                                    PayPal <img src="~/images/payment.jpg" alt="">
                                </li>
                            </ul>
                            <div class="text-right text-center-sm">
                                <a class="organik-btn mt-6" href="#"> Place Order </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>