@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>Servergo重設密碼介面</h2>
<p>
    您的密碼已重設請按 <a asp-area="" asp-controller="Login" asp-action="Index">此處登入</a>
</p>
