@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Servego重設密碼介面";
}

<h2>@ViewData["Title"]</h2>
<p>
    您的密碼已重設請按 <a asp-area="" asp-controller="Login" asp-action="Index">此處登入</a>
</p>
