
@{
    ViewData["Title"] = "Index";
}


<div id="main">
    <div class="section section-bg-10 pt-11 pb-17">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title text-center">訂單管理</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="section border-bottom pt-2 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @*<ol class="process">
            <li>
                <i class="fas fa-clipboard fa-3x"></i>
                <p>訂單確認中</p>
            </li>
            <li class="active">
                <i class="fas fa-archive  fa-3x"></i>
                <p>理貨中</p>
            </li>
            <li>
                <i class="fas fa-truck  fa-3x"></i>
                <p>出貨中</p>
            </li>
            <li>
                <i class="fas fa-hand-holding-usd  fa-3x"></i>
                <p>已送達</p>
            </li>
        </ol>*@











</div>
<style type="text/css">
@@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

    *{
        padding: 0;
        margin: 0;
        list-style: none;
        font-family: 'Noto Sans TC', sans-serif;
    }

        .list{
            width: 100%;
            display: flex;
            justify-content: center;
        }
            .list li {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 200px;
                height: 200px;
                background-color: #ffffff;
                border-radius: 50%;
                justify-content: center;
                position: relative;
                font-size: 30px;
            }
        .list li .fas{
            font-size: 50px;
            margin-bottom: 6px;
            
        }
        .list li + li {
            margin-left: 100px;
        }
            .list li + li::before {
                content: '';
                position: absolute;
                width: 100px;
                height: 10px;
                top: 0;
                bottom: 0;
                left: -100px;
                margin: auto;
                background-color: #bbb;
            }

            .list li.active{
                background-color: #90EE90;
            }

</style>

<ol class="list">
    <li class="active">
        <i class="fas fa-copy"></i>待確認訂單
    </li>
    <li>
        <i class="fas fa-box"></i>理貨
    </li>
    <li class="active">
        <i class="fas fa-truck-moving"></i>已出貨
    </li>
    <li>
        <i class="fas fa-store-alt"></i>已送達
    </li>
</ol>


