<form class="form-horizontal" role="form" action="@Url.Action("SpgatewayPayBill", "Home")" method="POST">
        <div class="col-md-12">
            <label>請款類型</label>
            <select name="payType">
                <option value="CREDIT">信用卡</option>
                <option value="WEBATM">WEBATM</option>
                <option value="VACC">ATM 轉帳</option>
                <option value="CVS">超商代碼繳費</option>
                <option value="BARCODE">超商條碼繳費</option>
            </select>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                確定
            </button>
        </div>
</form>