
@model TwenGo.Models.ViewModels.AdminViewModel
<style>
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .divider-text span {
            padding: 7px;
            font-size: 12px;
            position: relative;
            z-index: 2;
        }

        .divider-text:after {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid #ddd;
            top: 55%;
            left: 0;
            z-index: 1;
        }

    .btn-facebook {
        background-color: #405D9D;
        color: #fff;
    }

    .btn-twitter {
        background-color: #42AEEC;
        color: #fff;
    }

    a:hover {
        text-decoration: none !important;
        color: #000000;
    }
</style>

<div class="container">
    <br>
    <hr>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="width: 48rem">

            <h3 class="card-title mt-3 text-center">買家會員註冊</h3>
            <br />
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login in Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login in facebook</a>
            </p>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form asp-action="CustomerRegister">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input asp-for="AdminName" class="form-control" placeholder="請輸入姓名 例：周杰倫" />
                </div> <!-- form-group// -->

                <span asp-validation-for="AdminName" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="例: Waston@@Fake.com" />
                </div> <!-- form-group// -->
                <span asp-validation-for="Email" class="text-danger"></span>
                                      

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Admin_Password" class="form-control" placeholder="請輸入密碼" />
                </div> <!-- form-group// -->
                <span asp-validation-for="Admin_Password" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="請再輸入一次密碼" />
                </div> <!-- form-group// -->
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <div class="form-group input-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-briefcase"></i> </span>
                    </div>
                    <input asp-for="EntryDay" class="form-control" />
                </div>
                <span asp-validation-for="EntryDay" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="far fa-id-badge"></i> </span>
                    </div>
                    <input asp-for="IdentityNumber" class="form-control" placeholder="請輸入身份證字號" />
                </div>
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                         
                <br />
                             
                <div class="form-group">
                    <button type="submit" class="btn  btn-block"> 確定送出  </button>
                </div> <!-- form-group// -->
               
            </form>



        </article>
    </div> <!-- card.// -->

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    

}


