@model TwenGo.Models.ViewModels.AdminViewModel

<style>
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .divider-text span {
            padding: 7px;
            font-size: 12px;
            position: relative;
            z-index: 2;
        }

        .divider-text:after {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid #ddd;
            top: 55%;
            left: 0;
            z-index: 1;
        }

    .btn-facebook {
        background-color: #405D9D;
        color: #fff;
    }

    .btn-twitter {
        background-color: #42AEEC;
        color: #fff;
    }

    a:hover {
        text-decoration: none !important;
        color: #000000;
    }
</style>


<<div class="container">
    <br>
    <hr>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="width: 48rem">

            <h3 class="card-title mt-3 text-center">管理員註冊</h3>
            <br />

            <form asp-action="AdminRegister">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input asp-for="AdminName" class="form-control" placeholder="請輸入姓名 例：周杰倫" />
                </div> <!-- form-group// -->
                <span asp-validation-for="AdminName" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="far fa-id-badge"></i> </span>
                    </div>
                    <input asp-for="IdentityNumber" class="form-control" placeholder="請輸入身分證字號" />
                </div> <!-- form-group// -->
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="例: Waston@@Fake.com" />
                </div> <!-- form-group// -->
                <span asp-validation-for="Email" class="text-danger"></span>


                <div class="input-group-prepend">

                    <div class="form-group input-group">
                        <span class="input-group-text"> <i class="far fa-id-badge"></i> </span>
                        <select asp-for="JobTitle" class="form-control">
                            <option disabled> 選擇職稱</option>
                            <option value="Software Engineer">軟體工程師</option>
                            <option value="DBA">資料庫設計與管理人員</option>
                            <option value="Programming">程式設計師</option>
                        </select>
                    </div>
                </div> <!-- form-group end.// -->
                <span asp-validation-for="JobTitle"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Admin_Password" class="form-control" placeholder="請輸入密碼" />
                </div> <!-- form-group// -->
                <span asp-validation-for="Admin_Password" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="請再輸入一次密碼" />
                </div> <!-- form-group// -->
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <div class="form-group input-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="far fa-id-badge"></i> </span>
                    </div>
                    <input asp-for="EntryDay" class="form-control" />
                </div>
                <span asp-validation-for="EntryDay" class="text-danger"></span>

                <div>
                    <div id="twzipcode" class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
                        </div>
                    </div>
                    <input asp-for="Address" class="form-control" placeholder="請輸入地址" style="width:100%" />
                </div>

                <br />


                <div class="form-group">
                    <button type="submit" class="btn  btn-block"> 確定送出  </button>
                </div> <!-- form-group// -->
                <p class="text-center">已經有帳戶了? <a href="~/Login/Index">登入</a> </p>
            </form>



        </article>
    </div> <!-- card.// -->

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#twzipcode").twzipcode({
                zipcodeIntoDistrict: true, // 郵遞區號自動顯示在區別選單中
                css: ["city form-control", "town form-control"], // 自訂 "城市"、"地別" class 名稱
                countyName: "City", // 自訂城市 select 標籤的 name 值
                districtName: "Town" // 自訂區別 select 標籤的 name 值
            });
        });
    </script>

}
