<h1>賣家管理中心</h1>

<div>
    <a href="/Product/Launch">商品上架</a>
    <a href="/Product/ProductView">商品瀏覽</a>

    <a id="btngo" href="/Group/GroupUp" class="btn-dark">開團</a>
</div>

<style>
    #btngo {
        color: aquamarine;
        font-size: 30px;
    }
</style>



