@model TwenGo.Models.Product
<div id="app">
    {{100*100}}
    <div class="row">
        <div class="col-sm-3" v-for="item in products">
            <div class="card">
                <div class="card-body">
                    <img :src="item.picturePath" class="card-img-top">
                    <h2 class="card-title">{{item.productName}}</h2>
                    <p class="card-text">{{item.description}}</p>
                    <p class="card-text">服務地點:{{item.address}}</p>
                    <p class="card-text">價格:{{item.price}}元</p>
                    <button v-on:click="edit(item.productID)">編輯</button>
                    <button v-on:click="del(item.productID)">刪除</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var v = new Vue({
        el: "#app",
        data: {
            products: []
        },//data
        mounted: function () {
            let self = this;
            fetch("/products")
                .then(function (res) {
                    return res.json();
                })
                .then(function (myjson) {
                    for (let i = 0; i < myjson.length; i++) {
                        self.products.push(myjson[i])
                    }
                })
        },//mounted
        methods: {
            del: function (id) {
                var q = confirm("確認要刪除此項服務?")
                if (q) {
                    fetch("/products/" + id, {
                        method: 'DELETE'
                    }).then(response =>
                        response.text()
                        .then(text => {
                            alert(text);
                            window.location.reload();
                        }))
                }//if
            },//delete

            edit: function (id) {
                confirm("test")
                fetch("/product/" + id, {
                    method: 'PUT'
                }).then(response =>
                    response.text()
                        .then(text => {
                    }))

            }//edit
        }//methods
    })//vue
</script>