@model TwenGo.Models.Product
<script src="~/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
<script>
    $(document).ready(function () {
        $("#twzipcode").twzipcode({
            zipcodeIntoDistrict: true, // 郵遞區號自動顯示在區別選單中
            css: ["city form-control", "town form-control"], // 自訂 "城市"、"地別" class 名稱
            countyName: "countyName", // 自訂城市 select 標籤的 name 值
            districtName: "districtName" // 自訂區別 select 標籤的 name 值
        });
    });
</script>
<div id="app">
    <div class="row">
        <div class="col-sm-3" v-for="item in products">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{item.productName}}</h2>
                    <p class="card-text">服務內容:<br>{{item.description}}</p>
                    <p class="card-text">服務地點:{{item.address}}</p>
                    <p class="card-text">價格:{{item.price}}元</p>
                    <img :src="item.picturePath" class="card-img-top">
                    <p style="height:10px"></p>
                    <button class="btn btn-primary" v-on:click="show(item.id)">編輯</button>
                    <button class="btn btn-danger" v-on:click="del(item.id)">刪除</button>
                </div>
            </div>
        </div>
    </div>

    <form class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">編輯資料</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <label for="name">服務名稱:</label>
                        <input type="text" class="form-control" id="name" name="ProductName" v-model:text="put.productName">
                    </div>
                    <label>服務地點:</label>
                    <div id="twzipcode" class="form-group input-group">
                        <div data-role="county" data-style="Style Name"></div>
                        <div data-role="district" data-style="Style Name"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>服務敘述:</label>
                            <br />
                            <textarea name="Description" v-model="put.description" style="width:100%;height:100px"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <label>服務價格:</label>
                        <br />
                        <input type="number" name="Price" v-model="put.price" />
                    </div>
                    <div>
                        <label>上傳圖片</label>
                        <br />
                        <img id="demo"  :src="put.picturePath" />
                        <input id="uploadimg" type="file" name="img" v-on:change="updatePath"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">取消變更</button>
                    <button type="submit" class="btn btn-primary" v-on:click="edit(put.id)">儲存修改</button>
                </div>
            </div>
        </div>@*#dia*@
    </form>
</div>@*#app*@

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    body {
        background-color: ivory
    }

    .card {
        margin-top: 30px;
    }

    .card-text {
        color: black
    }

    .hidding {
        z-index: -1;
    }

    .modal-backdrop {
        z-index: 0;
    }
</style>

<script>
    var v = new Vue({
        el: "#app",
        data: {
            products: [],
            put: [],
        },//data
        mounted: function () {
            let self = this;
            fetch("/products")
                .then(function (res) {
                    return res.json();
                }).then(function (myjson) {
                    for (let i = 0; i < myjson.length; i++) {
                        self.products.push(myjson[i])
                    }
                })
        },//mounted
        methods: {
            updatePath: function (event) {
                this.put.img = event.target.files;
            },
            del: function (id) {
                var q = confirm("確定要刪除此項服務?")
                if (q) {
                    fetch("/products/" + id, {
                        method: 'DELETE'
                    }).then(response =>
                        response.text()
                            .then(text => {
                                alert(text);
                                window.location.reload();//F5重整
                            }))
                }//if
            },//delete
            show: function (id) {
                console.log(id);
                let self = this;
                fetch("/products/" + id,)
                    .then(response =>
                        response.json()
                            .then(d => {
                                let county = d.address.substring(0, 3);
                                let district = d.address.substring(3);
                                self.put = d;
                                $('#twzipcode').twzipcode('set', {
                                    'county': county,
                                    'district': district,
                                });
                                $('#myModal').modal("show");
                            }))
            },//getid
            edit: function (id) {
                let county = $('#twzipcode').twzipcode('get', 'county')[0];
                let district = $('#twzipcode').twzipcode('get', 'district')[0];
                let data = new FormData();
                data.append('ProductName', this.put.productName);
                data.append('countyName', county);
                data.append('districtName', district);
                data.append('Address', this.put.address);
                data.append('Description', this.put.description);
                data.append('Price', this.put.price);
                if (this.put.img != undefined) {
                    data.append('img', this.put.img[0]);
                }
                var q = confirm("確定要更新服務資料?")
                if (q) {
                    fetch("/products/"+id, {
                        method: 'PUT',
                        body: data
                    }).then(res => {
                        return res.json()
                    })
                    alert("更新成功")
                }//if
            }//edit
        }//methods
    })//vue

    $('#uploadimg').change(function () {
        var file = $('#uploadimg')[0].files[0];
        var reader = new FileReader;
        reader.onload = function (e) {
            $('#demo').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    });
</script>
