@model TwenGo.Models.Order

@{ ViewData["Title"] = "Order"; }
<body>
    <div class="section border-bottom pt-2 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumbs">
                        <li><a a asp-controller="Home" asp-action="index">首頁</a></li>
                        <li><a asp-controller="Shop" asp-action="index">商品</a></li>
                        <li> <a asp-controller="Cart" asp-action="index">購物車</a></></li>
                        <li>訂單資料</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h4 style="padding-top: 20px; font-size:30px" class="card-text">訂單資料</h4>
    <hr />
    <form asp-action="CreateOrder" id="orderForm" method="post">
        <div class="text-danger"></div>
        <input type="hidden" />
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <input asp-for="UserId" hidden />
                        <div class="form-group">
                            <label class="control-label">付款人帳號</label>
                            <input asp-for="UserName" value="@User.Identity.Name" readonly class="input-group-text" style="text-align:left" />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="card">
                    <div id="info" class="card-body">
                        <h5 class="card-title">預約資料</h5>
                        <div class="row">
                            <div class="form-group col-8">
                                <input id="date1" asp-for="ReciveDate" type="text" placeholder="預約日期(必填)" class="input-group-text w-50" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group col-6">
                                <input asp-for="ReceiverName" placeholder="預約姓名(必填)" class="input-group-text" />
                                <span asp-validation-for="ReceiverName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-8">
                                <input asp-for="ReceiverPhone" placeholder="預約電話(必填)" class="input-group-text" />
                                <span asp-validation-for="ReceiverPhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="ReceiverAddress" placeholder="預約地址(必填)" class="input-group-text" />
                            <span asp-validation-for="ReceiverAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Memo" class="control-label">備註</label>
                            <textarea asp-for="Memo" style="height:200px;width:100%" form="orderForm" placeholder="備註(選填)" class="input-group-text"></textarea>
                            <span asp-validation-for="Memo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div id="OrderPage" class="col-md-4">
                <div class="cart-totals">
                    <input type="hidden" />
                    <div class="card-body">
                        <h5 class="card-text" style="font-size:30px">訂單內容</h5>
                        <table class="table table-borderless">
                            <thead v-for="item in product">
                                <tr>品項:</tr>
                                <tr>
                                    <th>{{item.name}}</th>
                                    <td>x{{item.amount}}</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <hr />
                        <div class="text-right">
                            <input type="hidden" asp-for="Total" />
                            <p class="card-text font-weight-bolder" style="padding-right:12px; font-size:larger">總金額:　NT$ @Model.Total</p>
                        </div>
                        <p></p>
                        <div class="text-center card-link" style="margin-top:100px">
                            <button type="submit" class="add-to-cart w-75">建立訂單</button>
                        </div>
                        <div align="center" style="margin-top:30px">
                            <button class="btn btn-3 w-50" asp-controller="Cart" asp-action="Index"><i class="fas fa-angle-left"></i> 返回購物車</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        $('#date1').datetimepicker({
            date: null, //一開始輸入框的日期為空
            format: 'YYYY-MM-DD', //日期的顯示格式
            locale: moment.locale('zh-tw'), //國別
            minDate: moment().add(1, 'days'), //顯示最小天數
            maxDate: moment().add(90, 'days'), //顯示最大天數，30為最大的顯示範圍為一個月為限
        });
    </script>

    <script>
        var vorder = new Vue({
            el: '#OrderPage',
            data: {
                product: []
            },
            mounted: function () {
                this.GetCartProduct();
            },
            methods: {
                GetCartProduct: function () {
                    let self = this;
                    fetch("/Cart/GetCart")
                        .then(function (res) { return res.json() })
                        .then(function (d) { self.product = d })
                },
            },

        });

    </script>
</body>

<style>
    #info textarea {
        text-align: left;
    }
    #info input{
        text-align:left;
    }
    .progressbar li {
        list-style-type: none;
        width: 25%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
    }

        .progressbar li:before {
            width: 30px;
            height: 30px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
        }

        .progressbar li:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            left: -50%;
            z-index: -1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: green;
        }

            .progressbar li.active:before {
                border-color: #55b776;
            }

            .progressbar li.active + li:after {
                background-color: #55b776;
            }
</style>