@model TwenGo.Models.Supplier

@{
    ViewData["Title"] = "Create";
}

<h2>新增賣家</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account_S" class="control-label"></label>
                <input asp-for="Account_S" class="form-control" />
                <span asp-validation-for="Account_S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password_S" class="control-label"></label>
                <input asp-for="Password_S" class="form-control" />
                <span asp-validation-for="Password_S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email_S" class="control-label"></label>
                <input asp-for="Email_S" class="form-control" />
                <span asp-validation-for="Email_S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone_S" class="control-label"></label>
                <input asp-for="CellPhone_S" class="form-control" />
                <span asp-validation-for="CellPhone_S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhone" class="control-label"></label>
                <input asp-for="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Representative" class="control-label"></label>
                <input asp-for="Representative" class="form-control" />
                <span asp-validation-for="Representative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeIdentityNumber" class="control-label"></label>
                <input asp-for="RepresentativeIdentityNumber" class="form-control" />
                <span asp-validation-for="RepresentativeIdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxIDNumber" class="control-label"></label>
                <input asp-for="TaxIDNumber" class="form-control" />
                <span asp-validation-for="TaxIDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capital" class="control-label"></label>
                <input asp-for="Capital" class="form-control" />
                <span asp-validation-for="Capital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationOfCompany" class="control-label"></label>
                <input asp-for="LocationOfCompany" class="form-control" />
                <span asp-validation-for="LocationOfCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MallPicture" class="control-label"></label>
                <input asp-for="MallPicture" class="form-control" />
                <span asp-validation-for="MallPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" type="button" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
