@model IEnumerable<TwenGo.Models.Product>
@{
    ViewData["Title"] = "搜尋結果";
}
<h2>搜尋結果</h2>

<div class="section pt-7 pb-7">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-4">
                <img src="@item.PicturePath" class="card-img-top" style="width:480px;height:360px">
                <div class="card-body">
                    <h5 class="card-title">產品名稱:@item.ProductName</h5>
                    <p class="card-text">優惠價:@item.Price</p>
                    <a href="/shop/introduce?id=@item.Id" class="btn btn-dark">產品介紹</a>
                </div>
            </div>
            }
        </div>
        </div>
    </div>
