@model IEnumerable<TwenGo.Models.Product>

@{
    ViewData["Title"] = "搜尋結果";
}

<h2>搜尋結果</h2>
@foreach (var item in Model)
{
    <div>
        <div class="col-md-3" v-for="item in products">
            <div class="card" style="width:20rem;float:left;display:inline;margin:10px; ">
                <img :src="item.picturePath" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">優惠價:@item.Price</p>
                    <a href="shop/Introduce?productid=@item.ProductID" class="btn btn-dark">產品介紹</a>
                </div>
            </div>
        </div>
    </div>
}

