<div id="app" class="product">
    <div id="carouselExampleSlidesOnly" class="carousel slide MyProduct" data-bs-ride="carousel">
        <div class="carousel-inner" style="text-align:center">
            <div class="carousel-item active">
                <img :src="products.picturePath" class="d-block w-75" style="margin-top: 30px;">
            </div>
        </div>
    </div>
    <div class="card mb-3 MyProduct color" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body" style="">
                    <h1 class="card-title">{{products.productName}}</h1>
                    <p class="card-text"><h2>服務內容:</h2><h6>{{products.description}}</h6></p>
                    <p class="card-text"><h6>服務地點:{{products.address}}</h6></p>
                    <p class="card-text"><h6>服務價格:{{products.price}}元</h6></p>
                    <button onclick="toastr['success']('商品成功加入購物車!');" href="#" v-on:click="addToCart(products.Id)">加入購物車</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: cornsilk
    }

    .color {
        background-color: floralwhite
    }

    .MyProduct {
        float: left;
        width: 50%;
        color: black
    }

    .card {
        margin-top: 30px;
    }
</style>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            products: []
        }, mounted: function () {
            let self = this;
            fetch("/products/"+@ViewBag.Id)
                .then(res => {
                    return res.json();
                })
                .then(d => {
                    self.products = d
                })
        },//mounted
        methods: {
            addToCart: function (id) {
                let data = new FormData();
                data.append("id", @ViewBag.Id);
                fetch("/Cart/AddtoCart", {
                    body: data, // must match 'Content-Type' header
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                }).then(response => response.text())
                    .then(function (d) {
                        vcart.GetCartProduct();
                    })
            },//addToCart
        }
    })//app
</script>
.